.h1 {  

    position: absolute;
    left: 20px;
    top: 100px;  
}

.h3{

    position: absolute;
    left: 20px;
    top: 150px;    
}

.button {
  width: 250px;
    height: 50px;
    background-color:#5c5fed;
    border-radius: 25px;	
    color: aliceblue; 
    position: absolute;
    left:150px;
    top: 500px;  
}



.buttonn {
    width: 250px;
      height: 50px;
      background-color:#5c5fed;
      border-radius: 25px;	
      color: aliceblue; 
      position: absolute;
      left:550px;
      top: 500px;  
  }


  .button2 {
    width: 250px;
      height: 50px;
      background-color:#5c5fed;
      border-radius: 25px;	
      color: aliceblue; 
      position: absolute;
      left:950px;
      top:  500px;  
  }
    




.App-logo {

    position: absolute;
    left: 600px;
    top: 90px;
    width: 300px;
    height: 300px;
    margin-left: 500px;
}

.App-logo1 {
    position: absolute;
    left: 250px;
    top: 50px;
    width: 300px;
    height: 300px;
    margin-left: 500px;
} 