/* Styles go here */

#container {
  padding:50px;
  background-color:lightcoral;
  border-radius: 10px;
}

.outer-circle {
    height: 150px;
    width: 150px;
    padding-top: 20px;
    background-color:lightblue;
    border-radius: 50%;
    display: inline-block; 
}

.inner-circle {
  margin-top: 5px;
  height: 100px;
  width: 100px;
  background-color: #FFF;
  border-radius: 50%;
  display: inline-block; 
}

.input-box{
  margin-top: 100px;
  border-radius: 10px;
  border: 2px solid lightblue;
  padding: 10px
}

.title{
  font-style: bold;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  border: 2px solid lightblue;
  margin-bottom: 25px;
  margin-top: 0px;
}

.eth{
  
 margin-top: 10px;
  border-radius: 10px;
  font-weight: bold;
  color: antiquewhite;
  width: 180px;
  margin-left: 40px;
  border: 2px solid lightblue;

}

.amount{
  
 margin: 10px;
  border-radius: 10px;
  border: 2px solid lightblue;
  height: 50px;
  width: 250px;  
}


.button1{
  margin: 5px;
  width: 100px; 
  border-radius: 10px;
  background-color:lightblue;
}

.health-factor{
  margin-top: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid lightblue;
  
}